/* .login-form-main {
    display: flex;
    justify-content: center;
  } */
  
.login-form-container {
    display: flex;
    width: 400px;
    padding-bottom: 20px;
    box-shadow: 10px #e3e0e0;
    border-radius: 20px;
  }

.login-form-box{
    border: 1px hidden solid;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: rgba(0,0,0,0.45) 0px 2px 10px;
    padding: 22px 0px;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  .login-form-main {
    border: 1px hidden solid;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: rgba(0,0,0,0.45) 0px 2px 10px;
    padding: 22px 0px;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.login-form {
    margin: 0 auto 25px;
    width: 270px;
}

.login-form button {
    border:0px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: rgb(230,0,35);
    color: rgb(255,255,255);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form button:hover {
    background: rgb(187, 0, 29)
}