
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0px;
  width: 100%;
}


.logo_and_text {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 34px;
  height: 34px;
  margin-left: 24px;
}
.logo-text {
  text-decoration: none;
  margin: 20px;
  font-size: 23px;
  margin-left: 5px;
  color: #ca2127;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


.other-nav{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  min-width: 70.25px;
  margin: 4px;
  color: #111;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.other-nav:hover{
  cursor: pointer;
  border-bottom: 0.5px solid gray;
}